/* Coolors Exported Palette - https://coolors.co/fbf2c0-48392a-43281c-c06e52-f96f5d */

/* CSS HSL */
--blond: hsla(51, 88%, 87%, 1);
--dark-lava: hsla(30, 26%, 22%, 1);
--bistre: hsla(18, 41%, 19%, 1);
--copper-red: hsla(15, 47%, 54%, 1);
--bittersweet: hsla(7, 93%, 67%, 1);

/* SCSS HEX */
$blond: #fbf2c0ff;
$dark-lava: #48392aff;
$bistre: #43281cff;
$copper-red: #c06e52ff;
$bittersweet: #f96f5dff;

/* SCSS HSL */
$blond: hsla(51, 88%, 87%, 1);
$dark-lava: hsla(30, 26%, 22%, 1);
$bistre: hsla(18, 41%, 19%, 1);
$copper-red: hsla(15, 47%, 54%, 1);
$bittersweet: hsla(7, 93%, 67%, 1);

/* SCSS RGB */
$blond: rgba(251, 242, 192, 1);
$dark-lava: rgba(72, 57, 42, 1);
$bistre: rgba(67, 40, 28, 1);
$copper-red: rgba(192, 110, 82, 1);
$bittersweet: rgba(249, 111, 93, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-right: linear-gradient(90deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-bottom: linear-gradient(180deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-left: linear-gradient(270deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-top-right: linear-gradient(45deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-bottom-right: linear-gradient(135deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-top-left: linear-gradient(225deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-bottom-left: linear-gradient(315deg, #fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);
$gradient-radial: radial-gradient(#fbf2c0ff, #48392aff, #43281cff, #c06e52ff, #f96f5dff);