/* It's defining the colors that will be used in the project. */
:root {
  --blond: #fbf2c1;
  --dark-lava: #47382a;
  --bistre: #44291d;
  --copper-red: #c16e53;
  --bittersweet: #f96f5d;
}

/* It's making the width of the html and body 100% of the screen. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* It's making the width of the html and body 100% of the screen. */
html,
body {
  width: 100%;
}


/* Mobile frist */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 8px 28px 7px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 8px 28px 7px rgba(0, 0, 0, 0);
}

.header img {
  height: 70px;
  width: 70px;
  max-width: 100%;
  display: flex;
}

.header h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 0;
  color: var(--bistre);
  text-align: center;
}

/* It's making the menu hidden. */

.menu {
  display: none;
}

#btn-menu {
  width: 30px;
  height: 30px;
  color: var(--bittersweet);
  background-color: var(--bistre);
  border: none;
}

.menu-list {
  list-style: none;
  height: 100%;
  background-color: var(--dark-lava);
}

.menu-item {
  padding: 22px;
}

.menu-link {
  text-decoration: none;
  color: var(--blond);
  font-weight: bold;
}

.menu-item:hover {
  background-color: var(--copper-red);
  transition: 0.7s linear;
  -webkit-transition: 0.7s linear;
  -moz-transition: 0.7s linear;
  -ms-transition: 0.7s linear;
  -o-transition: 0.7s linear;
}

.menu-active {
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2%;
  margin: 20px auto;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background: url(/assets/imagens/banner.png);
  min-width: 300px;
  max-width: 100%;
  height: 350px;
  background-size: cover;
  margin: 0 auto;
}

.banner-text>h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 1.2rem;
  color: var(--blond);
  font-weight: bold;
  max-width: 80%;
  margin: 0 auto;
}

/*  */

.container-areas-de-atuacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  min-width: 300px;
  max-width: 100%;
  text-align: center;
  background-color: var(--copper-red);
}

.area-de-atuacao {
  padding: 30px 0;
  font-size: 1.2rem;
  color: var(--blond);
  font-weight: bold;
}

.btn-ver-mais {
  display: inline-block;
  margin: 20px auto;
  width: 100%;
  max-width: 480px;
  padding: 30px;
  font-size: 1.2rem;
  background-color: var(--bistre);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-ver-mais>a {
  text-decoration: none;
  color: var(--blond);
}

.btn-ver-mais:hover {
  background-color: #440D0D;
}

.direito-previdenciario p,
.direito-civil p,
.direito-da-familia p,
.direito-trabalhista p {
  text-decoration: none;
  color: var(--blond);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}

.direito-previdenciario a,
.direito-civil a,
.direito-da-familia a,
.direito-trabalhista a {
  text-decoration: none;
}

.direito-previdenciario:hover,
.direito-civil:hover,
.direito-da-familia:hover,
.direito-trabalhista:hover {
  background-color: #d87e60;
}

/*  */

.container-historia {
  box-shadow: 0px 10px 13px -7px #000000, 0px 8px 28px 7px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  min-width: 300px;
  max-width: 100%;
  text-align: center;
  background-color: var(--blond);
}

.historia-titulo {
  font-weight: bold;
  font-size: 2rem;
  min-width: 300px;
  text-align: center;
  margin: 40px auto;
  min-width: 300px;
  max-width: 100%;
  color: var(--copper-red);
}

.historia-paragrafo {
  font-size: 1.5rem;
  min-width: 300px;
  text-align: justify;
  margin: 40px auto;
  min-width: 280px;
  max-width: 80%;
  color: var(--bistre);
}