/* It's defining the colors that will be used in the project. */
:root {
  --blond: #fbf2c1;
  --dark-lava: #47382a;
  --bistre: #44291d;
  --copper-red: #c16e53;
  --bittersweet: #f96f5d;
}

/* It's making the width of the html and body 100% of the screen. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* It's making the width of the html and body 100% of the screen. */
html,
body {
  width: 100%;
}

/* Making the header a flexbox and setting the height of the image to 100px. */
.logo {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 100px;
}

.header {
  font-size: 16px;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  color: #6B3C31;
  background-color: white;
}

.header img {
  height: 80px;
}

.nav-bar a {
  font-size: 18px;
  justify-content: space-between;
  margin-left: 10px;
  text-decoration: none;
  color: var(--bistre);
}

.nav-bar a:hover {
  color: var(--copper-red);
}

.nav-btn {
  width: 501px;
  display: flex;
}

.nav-btn a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.btn-contato {
  height: 80px;
  background-color: var(--bistre);
  width: 200px;
  border: none;
}


.btn-consulta {
  height: 80px;
  background-color: var(--copper-red);
  width: 300px;
  border: none;
}

.btn-contato:hover {
  background-color: #44291da3;
}


.btn-consulta:hover {
  background-color: #c16f53b8;
}

/* The .image-container class needs to be applied to a div wrapped around the image you want to apply this filter to */

.banner {
  height: 600px;
  background-image: url(/assets/imagens/banner.png);
  background-size: cover;
  mix-blend-mode: lighten;
  opacity: 0.83;
  -webkit-filter: brightness(100%) contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  filter: brightness(100%) contrast(120%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(50%) sepia(100%);
  mix-blend-mode: multiply;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bittersweet);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.banner-text h1 {
padding-bottom: 50px;
}
/* The .image-container class needs to be applied to a div wrapped around the image you want to apply this filter to */

.areas-de-atuacao {
  background-color: var(--dark-lava);
  display: flex;
}