/* It's defining the colors that will be used in the project. */
:root {
  --blond: #fbf2c1;
  --dark-lava: #47382a;
  --bistre: #44291d;
  --copper-red: #c16e53;
  --bittersweet: #f96f5d;
}

/* It's making the width of the html and body 100% of the screen. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* It's making the width of the html and body 100% of the screen. */
html,
body {
  width: 100%;
}


/* Mobile frist */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;

}
header > img {
  height:70px;
  width: 70px; 
  max-width: 100%;
  display: flex;
}

header > h1 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 20px;
  padding: 0;
  color: var(--bistre);
  text-align: center;
}
.menu {
  display:none;
}

#btn-menu {
width: 30px;
height: 30px;
color: var(--bittersweet);
background-color: var(--bistre);
border: none;
}